﻿@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model IPagedList<FineBlog.ViewModels.PostVM>
@{
    ViewData["Title"] = "List Of Posts";
}

<div class="container-fluid d-flex flex-column align-items-end">
    <a class="btn btn-secondary mb-1" asp-action="Create" asp-controller="Post" asp-area="Admin">
        <i class="fas fa-plus"></i>
        Create new blog
    </a>
    <div class="card">
        <div class="card-header bg-secondary">
            <h4 class="card-title text-white">List of Blogs</h4>
        </div>
        <div class="card-body d-flex flex-wrap" style="background-color:lightgray;">
            @foreach(var post in Model)
            {
                <div class="postCard rounded mb-2 mr-2 bg-white p-2">
                    <div class="row" style="height: 100%">
                        <div class="col-4 rounded overflow-hidden">
                            @if (post.ThumbnailUrl == null)
                            {
                                <img class="img-fluid" src="~/thumbnails/default_image.png" style="object-fit:cover; height:100%; width:100%">

                            }
                            else
                            {
                                <img class="img-fluid" src="~/thumbnails/@post.ThumbnailUrl" style="object-fit:cover; height:100%; width:100%">
                            }
                        </div>
                        <div class="col-6 d-flex justify-content-start flex-column">
                            <h4 style="font-size:1.5rem; font-weight:bolder;" class="text-secondary fw-bold">@post.Title</h4>
                            <p>@post.CreatedDate</p>
                            <h4 style="font-size:1rem;" class="fw-bold">@post.AuthorName</h4>
                        </div>
                        <div class="col-2 text-right d-flex justify-content-start flex-column">
                            <div class="d-flex flex-wrap justify-content-end align-items-center">
                                <a class="btn btn-outline-primary mb-2" asp-area="Admin" asp-controller="Post" asp-action="Edit" asp-route-id="@post.Id" method="post">
                                    <i class='fas fa-pen'></i>
                                </a>
                                <form class="" asp-area="Admin" asp-controller="Post" asp-action="Delete" asp-route-id="@post.Id" method="post" onsubmit="return confirm('Do you want to delete this post?')">
                                    <button type="submit" class="btn btn-outline-danger">
                                        <i class='fas fa-trash'></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                   </div>
                </div>
            }
        </div>
        <div class="card-footer d-flex flex-column align-items-end">
            Page @(Model?.PageCount < Model?.PageNumber ? 0 : Model?.PageNumber) of @Model?.PageCount
            @Html.PagedListPager(Model,page => Url.Action("Index",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
            new PagedListRenderOptions()
            {
            ContainerDivClasses = new List<string> {"blog","navigation"},
            UlElementClasses = new List<string> {"pagination"},
            LiElementClasses = new List<string> {"page-item","page-link"},
            ActiveLiElementClass =  "active",
            })
        </div>
    </div>
</div>

