﻿@model FineBlog.ViewModels.LoginVM

@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Login";
} 

<!-- Outer Row -->
<div class="row justify-content-center" style="height: 100vh">

    <div class="col-xl-6 col-lg-12 col-md-9" style="display: flex; align-items: center">

        <div class="card o-hidden border-0 shadow-lg my-5" style="width: 100%">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                    <div class="col-lg-12">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Login to admin panel</h1>
                            </div>
                            <form class="user" method="post" asp-action="Login">
                                <div class="form-group">
                                    <input asp-for="Username" type="text" class="form-control form-control-user"
                                           id="exampleInputEmail" aria-describedby="emailHelp"
                                           placeholder="Enter Username...">
                                      <span asp-validation-for="Username" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Password" type="password" class="form-control form-control-user"
                                           id="exampleInputPassword" placeholder="Password">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox small">
                                        <input asp-for="RememberMe" type="checkbox" class="custom-control-input" id="customCheck">
                                        <label class="custom-control-label" for="customCheck">
                                            Remember
                                            Me
                                        </label>
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-user btn-block btn-primary" style="color: #ffff" value="Login">
                                
                            </form>
                            <hr>
                            @*<div class="text-center">
                                <a class="small" href="forgot-password.html">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="Register.chtml">Create an Account!</a>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>